<h1>Hello, Rails!</h1> 
<div class="container-fluid">
   <div class="row">
	<img src="http://horizonlightinginc.com/wp-content/uploads/2015/04/Lighting-Maintenance-San-Francisco-Bay-Area.jpg" class="img-responsive">
   </div>
</div>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
